ALPACA/ALPACA.Domain/bin/
ALPACA/ALPACA.Domain/obj/
ALPACA/ALPACA.test/obj/
ALPACA/ALPACA.Web/bin/
ALPACA/ALPACA.Web/obj/
ALPACA/ALPACA.Web/App_Data/
ALPACA/ALPACA.v12.suo
ALPACA/ALPACA/bin/
ALPACA/ALPACA/obj/
ALPACA/packages/
ALPACA/ALPACA.Database/ALPACA.Database.dbmdl
ALPACA/ALPACA.Database/ALPACA.Database.sqlproj.user
