ALPACA/ALPACA.Domain/bin/
ALPACA/ALPACA.Domain/obj/
ALPACA/ALPACA.test/obj/
ALPACA/ALPACA.test/bin/
ALPACA/ALPACA.Web/bin/
ALPACA/ALPACA.Web/obj/
ALPACA/ALPACA.v12.suo
ALPACA/ALPACA/bin/
ALPACA/ALPACA/obj/
ALPACA/packages/
ALPACA/ALPACA.Database/ALPACA.Database.dbmdl
ALPACA/ALPACA.Database/ALPACA.Database.sqlproj.user
ALPACA/ALPACA.Database/bin/
ALPACA/ALPACA.Database/obj/
ALPACA/ALPACA.Database/ALPACA.DeskSteve.publish.publish.xml
ALPACA/ALPACA.Database/ALPACA.Steve.publish.publish.xml
