@model ALPACA.Web.ViewModels.EmailViewModel

@Html.Kendo().EditorFor(m => m.EmailBody)
@Html.DropDownListFor(m => m.SelectedDraft, new SelectList(Model.DraftNames), "Load Draft..", new { @style = "font-size:20px;", @onchange = "loadDraft(this);" })
<button id="saveDraftButton" onclick="saveDraft();">Save Draft</button>
<script type="text/javascript">
    function loadDraft(e) {
        var draftName = $(e).val();
        if (draftName.length) {
            $.get(
                '@Url.Action("GetDraftBody")',
                { draftName: draftName },
                function (result) {
                    $('#EmailBody').data('kendoEditor').value(result);
                });
        }
    }

    function saveDraft()
    {
        var draftBody = $('#EmailBody').data('kendoEditor').value();
        var draftName = 'noName';
        $.post(
            '@Url.Action("SaveDraft")',
            { draftName: draftName, draftBody: draftBody }
    )};
</script>