<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @(Html.Kendo().Upload()
                    .Name("files")
                    .Async(a => a
                        .Save("UploadFile", "Home")
                        .AutoUpload(false)
                    )
                    .Events(e => e
                        .Upload(@<text>
                            function(e) 
                            {
                                e.data = { UploadType: $("#UploadType").val() };
                            }
                        </text>)
                    )
            )

            @(Html.Kendo().DropDownList()
                    .Name("UploadType")
                    .BindTo(new List<SelectListItem>()
                    {
                        new SelectListItem()
                        {
                            Text="Add",
                            Value="1"
                        },
                        new SelectListItem()
                        {
                            Text="Remove",
                            Value="2"
                        }
                    })
                    .Value("1")
            )
        </div>
    </div>
</div>

<script>
    function onUpload(e) 
    {
        var arg = $("#UploadType").val();
        e.arguments = { UploadType: arg };
    }
</script>
