
<div class="row">
    <div class="col-md-6">
        <label>User Name:</label>
        <input id="userName" class="form-control"/>
    </div>
    <div class="col-md-6">
        <label>Email Address:</label>
        <input id="userEmail" class="form-control"/>
    </div>
    <div class="col-md-6">
        <label>Password:</label>
        <input id="userPassword" class="form-control"/>
    </div>
    <div class="col-md-6">
        <label>Email Password:</label>
        <input id="userEmailPassword" class="form-control"/>
    </div>
</div>
